{% extends "templates/base.html" %}

{% block borderRadius %}
	--border-radius: 1.25rem;
{% endblock %}

{% block content22CSS %}
	/*border: 1px solid black;*/
{% endblock %}
	
{% block centerSize %}
	--height-center: 150px;
	--width-center: 200px;
{% endblock %}

{% block titleCSS %}



{% endblock %}


{% block moreCSS %}

body {
	background-image: url("../img/lightbg.png");
	background-size: cover;
	
}

label[for="formula--1"] {
	position: absolute;
	display: block;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 150%;
}

{% for formula in range(0,10 + formulas.length*3/2) %}
#formula-{{formula}}:checked ~ label[for="formula-{{formula}}"] {
	pointer-events: none;
	
}
#formula-{{formula}}:checked ~ label[for="formula-{{formula}}"] + div.formulaCode {
	display: block;
	
}
{% endfor %}
.content-11 {
	overflow: auto;
}
.formulaLabel {
	position: relative;
	display: block;
}
.formulaCode {
	display: none;
	position: absolute;
	left: 1rem;
	padding: 1rem;
	z-index: 5;
	border: 1px solid black;
	background: white;
	pointer-events: none;
}
.formulaCode div{
	pointer-events: all;
}


.content {
	overflow-y: auto;
	overflow-x: auto;
	overflow: auto;
	height: calc(100% - 2 * var(--border-radius));
}
.content .fas {
	font-size: 80%;
	padding: .1rem .2rem;
}
{% endblock %}


{% block title11 %}
<div class="title">
	<div class="titleBG" style="width:100%;height:100%;">

	</div>
	<span class="titleLeft">
		
	</span>
	<span class="titleCenter">
		<a href="https://sudokufarm.com">Formulas</a>
	</span>
	<span class="titleRight">
		<label for="radio11-1"><i class="fas fa-compress-alt"></i></label>
		<label for="radio11-2"><i class="fas fa-expand-alt"></i></label>
		<label for="radio11-3"><i class="fas fa-expand"></i></label>
	</span>
</div>
{% endblock %}
{% block content11 %}
	<input type="radio" name="formula" style="display: none;" id="formula--1" checked="checked"></input>
	{% for formula in formulas %}
	<input type="radio" name="formula" style="display: none;" id="formula-{{ formula.id }}"></input>
	{% endfor %}
	<label for="formula--1"></label>
	{% for formula in formulas %}
	<label class="formulaLabel" for="formula-{{ formula.id }}">{{ formula.name }}</label>
	<div class="formulaCode">
		<div>
			<i class="fas fa-trash"></i>
			<i class="fas fa-edit"></i>
			<i class="fas fa-copy" onclick="copyFormula('{{ formula.name }}')"></i>
		</div>
		<pre class="language-python"><code class="language-python">{{ formula.code }}</code></pre>
		
	</div>
	{% endfor %}
{% endblock %}	

{% block title13 %}
<div class="title">
	<div class="titleBG" style="width:100%;height:100%;">

	</div>
	<span class="titleLeft">
	
	</span>
	<span class="titleCenter">
		<a href="https://gifsaw.com">Creations</a>
	</span>
	<span class="titleRight">
		<label for="radio13-3"><i class="fas fa-expand"></i></label>
		<label for="radio13-2"><i class="fas fa-expand-alt"></i></label>
		<label for="radio13-1"><i class="fas fa-compress-alt"></i></label>
	
	
	</span>
</div>
{% endblock %}
{% block content13 %}
	<div>
		<input type="checkbox" id="gradient" checked></input><span>Gradient</span>
		<input type="checkbox" id="overlay" checked></input><span>Overlay</span>
		<input type="checkbox" id="filter" checked></input><span>Filter</span>
	</div>
	{% for ii in range(0,creations.length) %}
	{% set i = creations.length-ii-1 %}
	<div id="creation-{{i}}" class="{% if creations[i].imgData.type == 'text' or creations[i].imgData.type == 'qr' %}overlay{% else %}{{creations[i].imgData.type}}{% endif %}">
		<i class="fas fa-trash"></i><i class="fas fa-edit"></i><a href="{% if creations[i].imgData.type == 'text' or creations[i].imgData.type == 'qr' %}overlay{% else %}{{creations[i].imgData.type}}{% endif %}?q={{i}}">{{ creations[i].name}}</a>
	</div>
	{% endfor %}
	

{% endblock %}	

{% block title31 %}
<div class="title">
	<div class="titleBG" style="width:100%;height:100%;">

	</div>
	<span class="titleLeft">
		<button id="addImageButton">Add</button>
	</span>
	<span class="titleCenter">
		<a href="">Images</a>
	</span>
	<span class="titleRight">
		<label for="radio31-1"><i class="fas fa-compress-alt"></i></label>
		<label for="radio31-2"><i class="fas fa-expand-alt"></i></label>
		<label for="radio31-3"><i class="fas fa-expand"></i></label>
	</span>
</div>
{% endblock %}
{% block content31 %}
	<div id="imageList">
		{% for ii in range(0,images.length) %}
		{% set image = images[images.length-ii-1] %}
		<div id="image-{{ii}}">
			<i class="fas fa-trash"></i><i class="fas fa-edit"></i><a href="{{image.src}}">{{image.name}} <img src="{{image.src}}" style="display: none;"></a> (0 creations)
		</div>
		{% endfor %}
	</div>
{% endblock %}

{% block title33 %}
<div class="title">
	<div class="titleBG" style="width:100%;height:100%;">

	</div>
	<span class="titleLeft">
		
	</span>
	<span class="titleCenter">
		<a href="https://qblur.com">Settings</a>
	</span>
	<span class="titleRight">
		<label for="radio33-1"><i class="fas fa-compress-alt"></i></label>
		<label for="radio33-2"><i class="fas fa-expand-alt"></i></label>
		<label for="radio33-3"><i class="fas fa-expand"></i></label>
	</span>
</div>
{% endblock %}
{% block content33 %}

	


{% endblock %}




{% block content22 %}
	<img src="../robots/{{ username }}1.png" style="width: 80%;">
	<span>Settings</span>
			<span>Friends</span>
			<span>Stats</span>
{% endblock %}






{% block bodyStart %}

{% endblock %}


{% block scripts %}
<xml id="toolbox" style="display: none">
  <category name="Control">
	<block type="controls_if"></block>
	<block type="controls_whileUntil"></block>
	<block type="controls_for">
  </category>
  <category name="Logic">
	<block type="logic_compare"></block>
	<block type="logic_operation"></block>
	<block type="logic_boolean"></block>
  </category>
  <category name="Math">
	<block type="math_number"></block>
	<block type="math_arithmetic"></block>
  </category>
  <category name="Variables" custom="VARIABLE"></category>
  <category name="Functions" custom="PROCEDURE"></category>

</xml>
<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
<script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
<script src="../js/prism.js"></script>

<script>
var ws = false;
var tkey = {{ tkey | dump | safe }};
document.getElementById('gradient').addEventListener('change',selectCreations);
document.getElementById('overlay').addEventListener('change',selectCreations);
document.getElementById('filter').addEventListener('change',selectCreations);
function selectCreations() {
	var types = ['gradient','overlay','filter']
	for (var idx in types){
		console.log(types[idx],idx);
		var type = types[idx];
		if (document.getElementById(type).checked){
			var els = document.querySelectorAll('div.'+type);
			for (var i=0;i<els.length;i++){
				els[i].style.display = 'block';
			}
		}
		else {
			var els = document.querySelectorAll('div.'+type);
			for (var i=0;i<els.length;i++){
				els[i].style.display = 'none';
			}
		}
	}
	
}

const addImageTippy = tippy('#addImageButton', {
	  content: `<div id="addImage">
		Image: 
		<select id="imgType">
			<option value="upload">Upload</option>
			<option value="url">URL</option>
			<option value="drag">Drag/Drop</option>
		</select>
		<input type="file" name="imgSrc" id="imgSrc"></input>
		<input type="text" name="imgUrl" id="imgUrl"></input>
		<span id="imgDrag"></span>
	</div>`,
	  allowHTML: true,
	  trigger: 'click',
	  interactive: true,
	  placement: 'bottom',
	  onMount(instance) {
		setListeners();
	  },
	});
{% for i in range(0,creations.length) %}
tippy('#creation-{{i}} > .fa-trash', {
	  content: `<div>
			<div>Do you really want to delete {{ creations[i].name }}?</div>
			<button onclick="deleteCreation('{{creations[i].name }}',{{ i }})">Yes, Delete</button>
		</div>`,
	  allowHTML: true,
	  trigger: 'click',
	  interactive: true,
	  placement: 'bottom',
	});
tippy('#creation-{{i}} > .fa-edit', {
	  content: `<div>
			<div>Name: <input type="text" name="creationName"></input></div>
			<button onclick="renameCreation('{{creations[i].name }}',{{ i }})">Rename</button>
		</div>`,
	  allowHTML: true,
	  trigger: 'click',
	  interactive: true,
	  placement: 'bottom',
	});
	
{% endfor %}
</script>
<script src="../js/account.js"></script>
{% endblock %}

