{% extends "templates/base.html" %}

{% block borderRadius %}
	--border-radius: 1.25rem;
{% endblock %}

{% block content22CSS %}
	/*border: 1px solid black;*/
{% endblock %}
	
{% block centerSize %}
	--height-center: 6rem;
	--width-center: 8rem;
{% endblock %}

{% block titleCSS %}



{% endblock %}


{% block moreCSS %}

body {
	background-image: url("../img/lightbg.png");
	background-size: cover;
	
}



.formulaLabel {
	position: relative;
	display: inline-block;
}




div:Not(.content-22) > .content {
	overflow-y: auto;
	overflow-x: auto;
	overflow: auto;
	padding: calc(.5 * var(--border-radius));
	height: calc(100% - 3 * var(--border-radius));
	position: relative;
}
.content-22 .content {
	height: unset;
	text-align: center;
}

.content .fas {
	font-size: 80%;
	padding: .1rem .2rem;
}

.content-12 {
	grid-column: 1 /3;
	grid-row: 1 / 4;
	display: none;
}
{% endblock %}


{% block title11 %}
<div class="title">

	<span class="titleLeft">
		<select id="formulaType">
			<option value="overlay">Overlay</option>
			<option value="gradient">Gradient</option>
			<option value="filter">Filter</option>
		</select>
	</span>
	<span class="titleCenter">
		<a href="https://sudokufarm.com">Formulas</a>
	</span>
	<span class="titleRight">
		<label for="radio11-1"><i class="fas fa-compress-alt"></i></label>
		<label for="radio11-2"><i class="fas fa-expand-alt"></i></label>
		<label for="radio11-3"><i class="fas fa-expand"></i></label>
	</span>
</div>
{% endblock %}
{% block content11 %}

	<div id="overlayFormulas">
		{% for formula in formulas.overlay %}
		<div id="overlay-{{ formula.id }}">
			<i class="fas fa-trash"></i>
			<i class="fas fa-edit"></i>
			<i class="fas fa-copy"></i>
			<label class="formulaLabel">{{ formula.name }}</label>
		</div>
		{% endfor %}
	</div>
	<div id="gradientFormulas" style="display: none;">
		{% for formula in formulas.gradient %}
		<div id="gradient-{{ formula.id }}">
			<i class="fas fa-trash"></i>
			<i class="fas fa-edit"></i>
			<i class="fas fa-copy"></i>
			<label class="formulaLabel">{{ formula.name }}</label>
		</div>
		{% endfor %}
	</div>
	<div id="filterFormulas" style="display: none;">
		
		{% for group in filterGroups %}
			
			{% for formula in formulas.filter[group] %}
			<div id="filter-{{ formula.id }}">
				<i class="fas fa-trash"></i>
				<i class="fas fa-edit"></i>
				<i class="fas fa-copy"></i>
				<label class="formulaLabel">{{ formula.name }}</label>
			</div>
			{% endfor %}
		{% endfor %}
	</div>
{% endblock %}	

{% block title13 %}
<div class="title">

	<span class="titleLeft">
	
	</span>
	<span class="titleCenter">
		<a href="https://gifsaw.com">Creations</a>
	</span>
	<span class="titleRight">
		<label for="radio13-3"><i class="fas fa-expand"></i></label>
		<label for="radio13-2"><i class="fas fa-expand-alt"></i></label>
		<label for="radio13-1"><i class="fas fa-compress-alt"></i></label>
	
	
	</span>
</div>
{% endblock %}
{% block content13 %}
	<div>
		<input type="checkbox" id="gradient" checked></input><span>Gradient</span>
		<input type="checkbox" id="overlay" checked></input><span>Overlay</span>
		<input type="checkbox" id="filter" checked></input><span>Filter</span>
	</div>
	{% for ii in range(0,creations.length) %}
	{% set i = creations.length-ii-1 %}
	<div id="creation-{{i}}" class="{% if creations[i].imgData.type == 'text' or creations[i].imgData.type == 'qr' %}overlay{% else %}{{creations[i].imgData.type}}{% endif %}">
		<i class="fas fa-trash"></i><i class="fas fa-edit"></i><a href="{% if creations[i].imgData.type == 'text' or creations[i].imgData.type == 'qr' %}overlay{% else %}{{creations[i].imgData.type}}{% endif %}?u={{username}}&id={{creations[i].id}}">{{ creations[i].name}}</a>
	</div>
	{% endfor %}
	

{% endblock %}	

{% block title31 %}
<div class="title">

	<span class="titleLeft">
		<button id="addImageButton">Add</button>
	</span>
	<span class="titleCenter">
		<a href="">Images</a>
	</span>
	<span class="titleRight">
		<label for="radio31-1"><i class="fas fa-compress-alt"></i></label>
		<label for="radio31-2"><i class="fas fa-expand-alt"></i></label>
		<label for="radio31-3"><i class="fas fa-expand"></i></label>
	</span>
</div>
{% endblock %}
{% block content31 %}
	<div id="imageList">
		{% for ii in range(0,images.length) %}
		{% set image = images[images.length-ii-1] %}
		<div id="image-{{images.length-ii-1}}">
			<i class="fas fa-trash"></i><i class="fas fa-edit"></i><a href="{{image.src}}">{{image.name}}<img src="{{image.src}}" style="display: none;"></a>
		</div>
		{% endfor %}
	</div>
{% endblock %}

{% block title33 %}
<div class="title">

	<span class="titleLeft">
		
	</span>
	<span class="titleCenter">
		<a href="https://qblur.com">Settings</a>
	</span>
	<span class="titleRight">
		<label for="radio33-1"><i class="fas fa-compress-alt"></i></label>
		<label for="radio33-2"><i class="fas fa-expand-alt"></i></label>
		<label for="radio33-3"><i class="fas fa-expand"></i></label>
	</span>
</div>
{% endblock %}
{% block content33 %}
	
	<div>Email: <input type="text" id="email" value="{{ settings.email}}"></input><button id="updateEmail">Update</button></div>
	<div>Default Language: <select id="langOption">
			<option value="python" {% if settings.language == 'python' %}selected{% endif %}>Python</option>
			<option value="javascript" {% if settings.language == 'javascript' %}selected{% endif %}>Javascript</option>
			<option value="lua" {% if settings.language == 'lua' %}selected{% endif %}>Lua</option>
			<option value="php" {% if settings.language == 'php' %}selected{% endif %}>PHP</option>
			<option value="dart" {% if settings.language == 'dart' %}selected{% endif %}>Dart</option>
		</select>
	</div>
	<div>Robot Avatar: <input id="robot" type="number" min="1" max="4" value="{{ settings.robot }}"></input></div>


{% endblock %}



{% block content22 %}
	<img src="../robots/{{ username }}{{ settings.robot }}.png" style="width: 96%; top: -1rem; position: relative;">
	<div class="centerLink">
		<button class="basic" onclick="window.location.href='../';" style="font-size:.85rem; padding: .3rem .5rem;">Home</button>
	</div>
	<div class="centerLink">
		<button class="basic" onclick="window.location.href='../filter';" style="font-size:.85rem; padding: .3rem .5rem;">Filter</button>
	</div>
	<div class="centerLink">
		<button class="basic" onclick="window.location.href='../gradient';" style="font-size:.85rem; padding: .3rem .5rem;">Gradient</button>
	</div>
	<div class="centerLink">
		<button class="basic" onclick="window.location.href='../overlay';" style="font-size:.85rem; padding: .3rem .5rem;">Overlay</button>
	</div>
{% endblock %}






{% block bodyStart %}

{% endblock %}


{% block scripts %}
<xml id="toolbox" style="display: none">
  <category name="Control">
	<block type="controls_if"></block>
	<block type="controls_whileUntil"></block>
	<block type="controls_for">
  </category>
  <category name="Logic">
	<block type="logic_compare"></block>
	<block type="logic_operation"></block>
	<block type="logic_boolean"></block>
  </category>
  <category name="Math">
	<block type="math_number"></block>
	<block type="math_arithmetic"></block>
  </category>
  <category name="Variables" custom="VARIABLE"></category>
  <category name="Functions" custom="PROCEDURE"></category>

</xml>
<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
<script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
<script src="../js/prism.js"></script>

<script>
var ws = false;
var tkey = {{ tkey | dump | safe }};
var images = {{ images | dump | safe }};
document.getElementById('gradient').addEventListener('change',selectCreations);
document.getElementById('overlay').addEventListener('change',selectCreations);
document.getElementById('filter').addEventListener('change',selectCreations);
function selectCreations() {
	var types = ['gradient','overlay','filter']
	for (var idx in types){
		console.log(types[idx],idx);
		var type = types[idx];
		if (document.getElementById(type).checked){
			var els = document.querySelectorAll('div.'+type);
			for (var i=0;i<els.length;i++){
				els[i].style.display = 'block';
			}
		}
		else {
			var els = document.querySelectorAll('div.'+type);
			for (var i=0;i<els.length;i++){
				els[i].style.display = 'none';
			}
		}
	}
	
}

const addImageTippy = tippy('#addImageButton', {
	  content: `<div id="addImage">
		Image: 
		<select id="imgType">
			<option value="upload">Upload</option>
			<option value="url">URL</option>
			<option value="drag">Drag/Drop</option>
		</select>
		<input type="file" name="imgSrc" id="imgSrc"></input>
		<input type="text" name="imgUrl" id="imgUrl"></input>
		<span id="imgDrag"></span>
	</div>`,
	  allowHTML: true,
	  trigger: 'click',
	  interactive: true,
	  placement: 'bottom',
	  onMount(instance) {
		setListeners();
	  },
});
{% for i in range(0,creations.length) %}
tippy('#creation-{{i}} > .fa-trash', {
	  content: `<div>
			<div>Do you really want to delete {{ creations[i].name }}?</div>
			<button onclick="deleteCreation('{{creations[i].name }}',{{ i }})">Yes, Delete</button>
		</div>`,
	  allowHTML: true,
	  trigger: 'click',
	  interactive: true,
	  placement: 'bottom',
	});
tippy('#creation-{{i}} > .fa-edit', {
	  content: `<div>
			<div>Name: <input type="text" name="creationName"></input></div>
			<button onclick="renameCreation('{{creations[i].name }}',{{ i }})">Rename</button>
		</div>`,
	  allowHTML: true,
	  trigger: 'click',
	  interactive: true,
	  placement: 'bottom',
	});
	
{% endfor %}
for (var i=0;i<images.length;i++) {
	var el = document.getElementById('image-'+i);
	imageTippy(el,images[i].name);
}
function imageTippy(el,name) {
	tippy(el.querySelector('.fa-trash'), {
	  content: `<div>
			<div>Do you really want to delete `+name+`?</div>
			<button onclick="deleteImage('`+name+`','`+el.id+`')">Yes, Delete</button>
		</div>`,
	  allowHTML: true,
	  trigger: 'click',
	  interactive: true,
	  placement: 'bottom',
	});
	tippy(el.querySelector('.fa-edit'), {
	  content: `<div>
			<div>Name: <input type="text" name="imageName"></input></div>
			<button onclick="renameImage('`+name+`','`+el.id+`')">Rename</button>
		</div>`,
	  allowHTML: true,
	  trigger: 'click',
	  interactive: true,
	  placement: 'bottom',
	  
	});
}



{% for formula in formulas.overlay %}
tippy(document.getElementById('overlay-{{formula.id}}').querySelector('label'),{
	content: `<div class="formulaCode">{{ formula.code | safe}}</div>`,
	allowHTML: true,
	trigger: 'click',
	interactive: true,
	placement: 'bottom',
	appendTo: document.querySelector('.container'),
});
tippy(document.getElementById('overlay-{{formula.id}}').querySelector('i.fa-copy'),{
	content: `<button onclick="copyFormula('{{ formula.name }}','overlay')">Copy</button>`,
	allowHTML: true,
	trigger: 'click',
	interactive: true,
	placement: 'bottom',
	appendTo: document.querySelector('.container'),
});

{% endfor %}
{% for formula in formulas.gradient %}
tippy(document.getElementById('gradient-{{formula.id}}').querySelector('label'),{
	content: `<div class="formulaCode">{{ formula.code | safe }}</div>`,
	allowHTML: true,
	trigger: 'click',
	interactive: true,
	placement: 'bottom',
	appendTo: document.querySelector('.container'),
});
tippy(document.getElementById('gradient-{{formula.id}}').querySelector('i.fa-copy'),{
	content: `<button onclick="copyFormula('{{ formula.name }}','gradient')">Copy</button>`,
	allowHTML: true,
	trigger: 'click',
	interactive: true,
	placement: 'bottom',
	appendTo: document.querySelector('.container'),
});

{% endfor %}
{% for group in filterGroups %}
	{% for formula in formulas.filter[group] %}
		tippy(document.getElementById('filter-{{formula.id}}').querySelector('label'),{
			content: `<div class="formulaCode">{{ formula.code | safe}}</div>`,
			allowHTML: true,
			trigger: 'click',
			interactive: true,
			placement: 'bottom',
			appendTo: document.querySelector('.container'),
		});
		tippy(document.getElementById('filter-{{formula.id}}').querySelector('i.fa-copy'),{
			content: `<button onclick="copyFormula('{{ formula.name }}','filter','{{ group }}')">Copy</button>`,
			allowHTML: true,
			trigger: 'click',
			interactive: true,
			placement: 'bottom',
			appendTo: document.querySelector('.container'),
		});
	{% endfor %}
{% endfor %}




function chgFormulaType(){
	var formulaType = document.getElementById('formulaType').value;
	document.getElementById('overlayFormulas').style.display = 'none';
	document.getElementById('gradientFormulas').style.display = 'none';
	document.getElementById('filterFormulas').style.display = 'none';
	if (document.getElementById(formulaType+'Formulas')){
		document.getElementById(formulaType+'Formulas').style.display = 'block';
	}
}
chgFormulaType();
document.getElementById('formulaType').addEventListener('change',chgFormulaType);
document.getElementById('langOption').addEventListener('change',chgLanguage);
document.getElementById('robot').addEventListener('change',chgRobot);
document.getElementById('updateEmail').addEventListener('click',chgEmail);
function chgLanguage(){
	var lang = document.getElementById('langOption').value;
	var jsonmessage = {type:'updateSettings',setting:'language',message:lang};
	ws.send(JSON.stringify(jsonmessage));
}
function chgRobot(){
	var robot = document.getElementById('robot').value;
	var jsonmessage = {type:'updateSettings',setting:'robot',message:robot};
	ws.send(JSON.stringify(jsonmessage));
}
function chgEmail(){
	var email = document.getElementById('email').value;
	var jsonmessage = {type:'updateSettings',setting:'email',message:email};
	ws.send(JSON.stringify(jsonmessage));
}
</script>
<script src="../js/account.js"></script>
{% endblock %}

