{% extends "templates/base.html" %}

{% block borderRadius %}
	--border-radius: 1.25rem;
{% endblock %}

{% block content22CSS %}
	/*border: 1px solid black;*/
{% endblock %}
	
{% block centerSize %}
	--height-center: 150px;
	--width-center: 200px;
{% endblock %}

{% block titleCSS %}



{% endblock %}


{% block moreCSS %}

body {
	background-image: url("../img/lightbg.png");
	background-size: cover;
	
}

label[for="formula--1"] {
	position: absolute;
	display: block;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}

{% for formula in range(0,15 + formulas.overlay.length*3/2) %}
#overlay-{{formula}}:checked ~ #overlayFormulas label[for="overlay-{{formula}}"] {
	pointer-events: none;	
}
#overlay-{{formula}}:checked ~ #overlayFormulas label[for="overlay-{{formula}}"] + div.formulaCode {
	display: block;
}
{% endfor %}
{% for formula in range(0,15 + formulas.gradient.length*3/2) %}
#gradient-{{formula}}:checked ~ #gradientFormulas label[for="gradient-{{formula}}"] {
	pointer-events: none;	
}
#gradient-{{formula}}:checked ~ #gradientFormulas label[for="gradient-{{formula}}"] + div.formulaCode {
	display: block;
}
{% endfor %}

{% for formula in range(0,15 + totalfilters*3/2) %}
#filter-{{formula}}:checked ~ #gradientFormulas label[for="filter-{{formula}}"] {
	pointer-events: none;	
}
#filter-{{formula}}:checked ~ #gradientFormulas label[for="filter-{{formula}}"] + div.formulaCode {
	display: block;
}
{% endfor %}

.formulaLabel {
	position: relative;
	display: block;
}
.formulaCode {
	display: none;
	position: absolute;
	left: 1rem;
	padding: 1rem;
	z-index: 5;
	border: 1px solid black;
	background: white;
	pointer-events: none;
}
.formulaCode div{
	pointer-events: all;
}


.content {
	overflow-y: auto;
	overflow-x: auto;
	overflow: auto;
	height: calc(100% - 2 * var(--border-radius));
}
.content .fas {
	font-size: 80%;
	padding: .1rem .2rem;
}

.content-12 {
	grid-column: 1 /3;
	grid-row: 1 / 4;
	display: none;
}
{% endblock %}


{% block title11 %}
<div class="title">
	<div class="titleBG" style="width:100%;height:100%;">

	</div>
	<span class="titleLeft">
		<select id="formulaType">
			<option value="overlay">Overlay</option>
			<option value="gradient">Gradient</option>
			<option value="filter">Filter</option>
		</select>
	</span>
	<span class="titleCenter">
		<a href="https://sudokufarm.com">Formulas</a>
	</span>
	<span class="titleRight">
		<label for="radio11-1"><i class="fas fa-compress-alt"></i></label>
		<label for="radio11-2"><i class="fas fa-expand-alt"></i></label>
		<label for="radio11-3"><i class="fas fa-expand"></i></label>
	</span>
</div>
{% endblock %}
{% block content11 %}
	<input type="radio" name="formula" style="display: none;" id="formula--1" checked="checked"></input>
	{% for formula in range(0,15 + formulas.overlay.length*3/2) %}
	<input type="radio" name="formula" style="display: none;" id="overlay-{{ formula }}"></input>
	{% endfor %}
	{% for formula in range(0,15 + formulas.gradient.length*3/2) %}
	<input type="radio" name="formula" style="display: none;" id="gradient-{{ formula }}"></input>
	{% endfor %}
	{% for formula in range(0,15 + totalfilters*3/2) %}
	<input type="radio" name="formula" style="display: none;" id="filter-{{ formula }}"></input>
	{% endfor %}
	<label for="formula--1"></label>
	<div id="overlayFormulas">
		{% for formula in formulas.overlay %}
		<label class="formulaLabel" for="overlay-{{ formula.id }}">{{ formula.name }}</label>
		<div class="formulaCode">
			<div>
				<i class="fas fa-trash"></i>
				<i class="fas fa-edit"></i>
				<i class="fas fa-copy" onclick="copyFormula('{{ formula.name }}','overlay')"></i>
			</div>
			<pre class="language-lua"><code class="language-lua">{{ formula.code }}</code></pre>
		
		</div>
		{% endfor %}
	</div>
	<div id="gradientFormulas">
		{% for formula in formulas.gradient %}
		<label class="formulaLabel" for="gradient-{{ formula.id }}">{{ formula.name }}</label>
		<div class="formulaCode">
			<div>
				<i class="fas fa-trash"></i>
				<i class="fas fa-edit"></i>
				<i class="fas fa-copy" onclick="copyFormula('{{ formula.name }}','gradient')"></i>
			</div>
			<pre class="language-python"><code class="language-python">{{ formula.code }}</code></pre>
		
		</div>
		{% endfor %}
	</div>
	<div id="filterFormulas">
		{% for group in formulas.filter %}
			{{ group }}
			{% for formula in formulas.filter[group] %}
			<label class="formulaLabel" for="filter-{{ formula.id }}">{{ formula.name }}</label>
			<div class="formulaCode">
				<div>
					<i class="fas fa-trash"></i>
					<i class="fas fa-edit"></i>
					<i class="fas fa-copy" onclick="copyFormula('{{ formula.name }}','filter','{{ group }}')"></i>
				</div>
				<pre class="language-python"><code class="language-python">{{ formula.code }}</code></pre>
		
			</div>
			{% endfor %}
		{% endfor %}
	</div>
{% endblock %}	

{% block title13 %}
<div class="title">
	<div class="titleBG" style="width:100%;height:100%;">

	</div>
	<span class="titleLeft">
	
	</span>
	<span class="titleCenter">
		<a href="https://gifsaw.com">Creations</a>
	</span>
	<span class="titleRight">
		<label for="radio13-3"><i class="fas fa-expand"></i></label>
		<label for="radio13-2"><i class="fas fa-expand-alt"></i></label>
		<label for="radio13-1"><i class="fas fa-compress-alt"></i></label>
	
	
	</span>
</div>
{% endblock %}
{% block content13 %}
	<div>
		<input type="checkbox" id="gradient" checked></input><span>Gradient</span>
		<input type="checkbox" id="overlay" checked></input><span>Overlay</span>
		<input type="checkbox" id="filter" checked></input><span>Filter</span>
	</div>
	{% for ii in range(0,creations.length) %}
	{% set i = creations.length-ii-1 %}
	<div id="creation-{{i}}" class="{% if creations[i].imgData.type == 'text' or creations[i].imgData.type == 'qr' %}overlay{% else %}{{creations[i].imgData.type}}{% endif %}">
		<i class="fas fa-trash"></i><i class="fas fa-edit"></i><a href="{% if creations[i].imgData.type == 'text' or creations[i].imgData.type == 'qr' %}overlay{% else %}{{creations[i].imgData.type}}{% endif %}?q={{i}}">{{ creations[i].name}}</a>
	</div>
	{% endfor %}
	

{% endblock %}	

{% block title31 %}
<div class="title">
	<div class="titleBG" style="width:100%;height:100%;">

	</div>
	<span class="titleLeft">
		<button id="addImageButton">Add</button>
	</span>
	<span class="titleCenter">
		<a href="">Images</a>
	</span>
	<span class="titleRight">
		<label for="radio31-1"><i class="fas fa-compress-alt"></i></label>
		<label for="radio31-2"><i class="fas fa-expand-alt"></i></label>
		<label for="radio31-3"><i class="fas fa-expand"></i></label>
	</span>
</div>
{% endblock %}
{% block content31 %}
	<div id="imageList">
		{% for ii in range(0,images.length) %}
		{% set image = images[images.length-ii-1] %}
		<div id="image-{{images.length-ii-1}}">
			<i class="fas fa-trash"></i><i class="fas fa-edit"></i><a href="{{image.src}}">{{image.name}}<img src="{{image.src}}" style="display: none;"></a> (0 creations)
		</div>
		{% endfor %}
	</div>
{% endblock %}

{% block title33 %}
<div class="title">
	<div class="titleBG" style="width:100%;height:100%;">

	</div>
	<span class="titleLeft">
		
	</span>
	<span class="titleCenter">
		<a href="https://qblur.com">Settings</a>
	</span>
	<span class="titleRight">
		<label for="radio33-1"><i class="fas fa-compress-alt"></i></label>
		<label for="radio33-2"><i class="fas fa-expand-alt"></i></label>
		<label for="radio33-3"><i class="fas fa-expand"></i></label>
	</span>
</div>
{% endblock %}
{% block content33 %}
	Add Friend:
	Email:
	Robot:
	Stats:
	Default Language:


{% endblock %}



{% block content22 %}
	<img src="../robots/{{ username }}1.png" style="width: 80%;">
	<span>Settings</span>
			<span>Friends</span>
			<span>Stats</span>
{% endblock %}






{% block bodyStart %}

{% endblock %}


{% block scripts %}
<xml id="toolbox" style="display: none">
  <category name="Control">
	<block type="controls_if"></block>
	<block type="controls_whileUntil"></block>
	<block type="controls_for">
  </category>
  <category name="Logic">
	<block type="logic_compare"></block>
	<block type="logic_operation"></block>
	<block type="logic_boolean"></block>
  </category>
  <category name="Math">
	<block type="math_number"></block>
	<block type="math_arithmetic"></block>
  </category>
  <category name="Variables" custom="VARIABLE"></category>
  <category name="Functions" custom="PROCEDURE"></category>

</xml>
<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
<script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
<script src="../js/prism.js"></script>

<script>
var ws = false;
var tkey = {{ tkey | dump | safe }};
var images = {{ images | dump | safe }};
document.getElementById('gradient').addEventListener('change',selectCreations);
document.getElementById('overlay').addEventListener('change',selectCreations);
document.getElementById('filter').addEventListener('change',selectCreations);
function selectCreations() {
	var types = ['gradient','overlay','filter']
	for (var idx in types){
		console.log(types[idx],idx);
		var type = types[idx];
		if (document.getElementById(type).checked){
			var els = document.querySelectorAll('div.'+type);
			for (var i=0;i<els.length;i++){
				els[i].style.display = 'block';
			}
		}
		else {
			var els = document.querySelectorAll('div.'+type);
			for (var i=0;i<els.length;i++){
				els[i].style.display = 'none';
			}
		}
	}
	
}

const addImageTippy = tippy('#addImageButton', {
	  content: `<div id="addImage">
		Image: 
		<select id="imgType">
			<option value="upload">Upload</option>
			<option value="url">URL</option>
			<option value="drag">Drag/Drop</option>
		</select>
		<input type="file" name="imgSrc" id="imgSrc"></input>
		<input type="text" name="imgUrl" id="imgUrl"></input>
		<span id="imgDrag"></span>
	</div>`,
	  allowHTML: true,
	  trigger: 'click',
	  interactive: true,
	  placement: 'bottom',
	  onMount(instance) {
		setListeners();
	  },
	});
{% for i in range(0,creations.length) %}
tippy('#creation-{{i}} > .fa-trash', {
	  content: `<div>
			<div>Do you really want to delete {{ creations[i].name }}?</div>
			<button onclick="deleteCreation('{{creations[i].name }}',{{ i }})">Yes, Delete</button>
		</div>`,
	  allowHTML: true,
	  trigger: 'click',
	  interactive: true,
	  placement: 'bottom',
	});
tippy('#creation-{{i}} > .fa-edit', {
	  content: `<div>
			<div>Name: <input type="text" name="creationName"></input></div>
			<button onclick="renameCreation('{{creations[i].name }}',{{ i }})">Rename</button>
		</div>`,
	  allowHTML: true,
	  trigger: 'click',
	  interactive: true,
	  placement: 'bottom',
	});
	
{% endfor %}
for (var i=0;i<images.length;i++) {
	var el = document.getElementById('image-'+i);
	imageTippy(el,images[i].name);
}
function imageTippy(el,name) {
	tippy(el.querySelector('.fa-trash'), {
	  content: `<div>
			<div>Do you really want to delete `+name+`?</div>
			<button onclick="deleteImage('`+name+`','`+el.id+`')">Yes, Delete</button>
		</div>`,
	  allowHTML: true,
	  trigger: 'click',
	  interactive: true,
	  placement: 'bottom',
	});
	tippy(el.querySelector('.fa-edit'), {
	  content: `<div>
			<div>Name: <input type="text" name="imageName"></input></div>
			<button onclick="renameImage('`+name+`','`+el.id+`')">Rename</button>
		</div>`,
	  allowHTML: true,
	  trigger: 'click',
	  interactive: true,
	  placement: 'bottom',
	});
}
function chgFormulaType(){
	var formulaType = document.getElementById('formulaType').value;
	document.getElementById('overlayFormulas').style.display = 'none';
	document.getElementById('gradientFormulas').style.display = 'none';
	document.getElementById('filterFormulas').style.display = 'none';
	if (document.getElementById(formulaType+'Formulas')){
		document.getElementById(formulaType+'Formulas').style.display = 'block';
	}
}
chgFormulaType();
document.getElementById('formulaType').addEventListener('change',chgFormulaType);
</script>
<script src="../js/account.js"></script>
{% endblock %}

