{% extends "templates/base.html" %}

{% block borderRadius %}
	--border-radius: 1.25rem;
{% endblock %}

{% block content22CSS %}
	/*border: 1px solid black;*/
{% endblock %}
	


{% block titleCSS %}



{% endblock %}


{% block moreCSS %}



img {
	padding: 0px;
	margin: 0px;
}

div:Not(.content-22) > .content {
	height: calc(100% - 2 * var(--border-radius));
}
.content-22 .content {
	text-align: center;
}

#divLeft {

	position: absolute;
	left: 0px;
	width: calc((var(--width-container) - var(--width-center)) / 2 - 1 * var(--border-radius));
	max-width:calc(26rem - 1 * var(--border-radius));
	display: inline-block;
}
#divRight {
	-webkit-clip-path:url(#rightHalf);
	clip-path:url(#rightHalf);
	position: relative;
	left:0px;
	top:0px;
	width: calc((var(--width-container) - var(--width-center)) / 2 - 1 * var(--border-radius));
	max-width:calc(26rem - 1 * var(--border-radius));
	display: inline-block;
}
#filterSliderHolder {

}
#filterSlider {
	width: calc((var(--width-container) - var(--width-center)) / 2 - 1 * var(--border-radius));
	max-width:calc(26rem - 1 * var(--border-radius));
}
#bothDivs {
	max-width:calc(26rem - 1 * var(--border-radius));
	margin: auto;
}
@media screen and (max-width: 719px) {
	#bothDivs {
		max-width: calc(30rem - 1 * var(--border-radius));
	}
	#divLeft {

		position: absolute;
		left: 0px;
		width: calc((var(--width-container) - 2 * var(--border-radius) ) / 2);
		max-width:calc(30rem - 1 * var(--border-radius));
		display: inline-block;
	}
	#divRight {
		-webkit-clip-path:url(#rightHalf);
		clip-path:url(#rightHalf);
		position: relative;
		left:0px;
		top:0px;
		width: calc((var(--width-container) - 2 * var(--border-radius) ) / 2);
		max-width:calc(30rem - 1 * var(--border-radius));
		display: inline-block;
	}
	#filterSliderHolder {

	}
	#filterSlider {
		width: calc((var(--width-container) - 2 * var(--border-radius) ) / 2);
		max-width:calc(30rem - 1 * var(--border-radius));
	}
	.centerLink {
		display: none;
	}
}
@media screen and (max-width: 599px) {
	#bothDivs {
		max-width: calc(30rem - 1 * var(--border-radius));
	}
	#divLeft {

		position: absolute;
		left: 0px;
		width: calc(var(--width-container) - 1 * var(--border-radius));
		max-width:calc(30rem - 1 * var(--border-radius));
		display: inline-block;
	}
	#divRight {
		-webkit-clip-path:url(#rightHalf);
		clip-path:url(#rightHalf);
		position: relative;
		left:0px;
		top:0px;
		width: calc(var(--width-container) - 1 * var(--border-radius));
		max-width:calc(30rem - 1 * var(--border-radius));
		display: inline-block;
	}
	#filterSliderHolder {

	}
	#filterSlider {
		width: calc(var(--width-container) - 1 * var(--border-radius));
		max-width:calc(30rem - 1 * var(--border-radius));
	}
}
{% endblock %}


{% block title11 %}
<div class="title">
	<div class="titleBG">

	</div>
	<span class="titleLeft">
		
	</span>
	<span class="titleCenter">
		What is Qblur?
	</span>
	<span class="titleRight">
	</span>
</div>
{% endblock %}
{% block content11 %}
Qblur is a place to quickly and easily experiment with images and color.
A limited number of tools offer almost unlimited customization. Play around and enjoy!
{% endblock %}	

{% block title13 %}
<div class="title">
	<div class="titleBG">

	</div>
	<span class="titleLeft">
	
	</span>
	<span class="titleCenter">
		<a href="../filter">Filters</a>
	</span>
	<span class="titleRight">
		<label for="radio13-1"><i class="fas fa-compress-alt"></i></label>
		<label for="radio13-2"><i class="fas fa-expand-alt"></i></label>
		<label for="radio13-3"><i class="fas fa-expand"></i></label>
	
	</span>
</div>
{% endblock %}
{% block content13 %}
Create filters to have total control over your image's color.
<div id="filterSliderHolder">
	<input id="filterSlider" type="range" min="0" max="100" value="50"></input>
</div>
<div id="bothDivs" style="position:relative;">
	
	<div id="divLeft">
		<img src="../img/reg.jpg" style="width:100%;"/>
	</div>
	<div id="divRight">
		<img src="../img/regbg.jpg" style="width:100%;"/>
	</div>
</div>
{% endblock %}	

{% block title31 %}
<div class="title">
	<div class="titleBG">

	</div>
	<span class="titleLeft">
		
	</span>
	<span class="titleCenter">
		<a href="../gradient">Gradients</a>
	</span>
	<span class="titleRight">
		<label for="radio31-1"><i class="fas fa-compress-alt"></i></label>
		<label for="radio31-2"><i class="fas fa-expand-alt"></i></label>
		<label for="radio31-3"><i class="fas fa-expand"></i></label>
	</span>
</div>
{% endblock %}
{% block content31 %}
Create your own gradient by adding a custom function to standard linear or radial gradients.
Or add a gradient based on distance from the edge of a shape.
{% endblock %}

{% block title33 %}
<div class="title">
	<div class="titleBG">

	</div>
	<span class="titleLeft">
		
	</span>
	<span class="titleCenter">
		<a href="../overlay">Overlays</a>
	</span>
	<span class="titleRight">
		<label for="radio33-1"><i class="fas fa-compress-alt"></i></label>
		<label for="radio33-2"><i class="fas fa-expand-alt"></i></label>
		<label for="radio33-3"><i class="fas fa-expand"></i></label>
	</span>
</div>
{% endblock %}
{% block content33 %}
Add text on top of an image and control how it blends into or pops out of a background image.
Or add a QR code on top of your image.
{% endblock %}




{% block content22 %}
	
	<div class="logoDiv">
		<img src="../newlogosmall.png" style="width:18rem;">		
	</div>
	<div class="centerLink">
		<button class="basic" onclick="window.location.href='../account';">My Account</button>
	</div>
	<div class="centerLink">
		<button class="basic" onclick="window.location.href='../about';">About</button>
	</div>
	
{% endblock %}

{% block footer %}
	<button class="basic" onclick="window.location.href='../account';">My Account</button>
	<button class="basic" onclick="window.location.href='../about';">About</button>
{% endblock %}




{% block bodyStart %}
<svg width="0" height="0" viewBox = "0 0 1 1" version = "1.1">
    <defs>
    	
		  <clipPath id="rightHalf" clipPathUnits="objectBoundingBox">
			<path id="pathRight" d="M.5,0 1,0 1,1 .5,1 Z" />
		  </clipPath>
    	
    	  
    </defs>
    
</svg>
{% endblock %}


{% block scripts %}
<script>
document.getElementById('filterSlider').addEventListener('change',chgFilterSlider);
document.getElementById('filterSlider').addEventListener('input',chgFilterSlider);
function chgFilterSlider() {
	var val = document.getElementById('filterSlider').value;
	var el =document.getElementById('pathRight');
	el.setAttribute('d','M'+(val/100)+',0 1,0 1,1 '+(val/100)+',1 Z');
}
</script>
{% endblock %}

