{% extends "templates/base.html" %}

{% block borderRadius %}
	--border-radius: 1.25rem;
{% endblock %}

{% block content22CSS %}
	/*border: 1px solid black;*/
{% endblock %}
	
{% block centerSize %}
	--height-center: 6rem;
	--width-center: 8rem;
{% endblock %}

{% block titleCSS %}



{% endblock %}


{% block moreCSS %}

body {
	background-image: url("../img/lightbg.png");
	background-size: cover;
	
}
img {
	padding: 0px;
	margin: 0px;
}

div:Not(.content-22) > .content {
	overflow-y: auto;
	overflow-x: auto;
	overflow: auto;
	height: calc(100% - 2 * var(--border-radius));
	padding: calc(.5 * var(--border-radius));
}
.content-22 .content {
	text-align: center;
}
{% endblock %}


{% block title11 %}
<div class="title">
	<div class="titleBG">

	</div>
	<span class="titleLeft">
		
	</span>
	<span class="titleCenter">
		What is QbluR?
	</span>
	<span class="titleRight">
	</span>
</div>
{% endblock %}
{% block content11 %}
QbluR is a place to quickly and easily experiment with images and color.
The goal is a limited number of tools with unlimited customization. Play around and enjoy!
{% endblock %}	

{% block title13 %}
<div class="title">
	<div class="titleBG">

	</div>
	<span class="titleLeft">
	
	</span>
	<span class="titleCenter">
		<a href="../filter">Filters</a>
	</span>
	<span class="titleRight">
	
	
	</span>
</div>
{% endblock %}
{% block content13 %}
Add one or more filters to have total control over the brightness, hue, saturation, contrast, and color of your image.
{% endblock %}	

{% block title31 %}
<div class="title">
	<div class="titleBG">

	</div>
	<span class="titleLeft">
		
	</span>
	<span class="titleCenter">
		<a href="../gradient">Gradients</a>
	</span>
	<span class="titleRight">
	</span>
</div>
{% endblock %}
{% block content31 %}
Create your own gradient by adding a custom function to standard linear or radial gradients.
Or add a gradient based on distance from the edge of a shape.
{% endblock %}

{% block title33 %}
<div class="title">
	<div class="titleBG">

	</div>
	<span class="titleLeft">
		
	</span>
	<span class="titleCenter">
		<a href="../overlay">Overlays</a>
	</span>
	<span class="titleRight">
	</span>
</div>
{% endblock %}
{% block content33 %}
Add text on top of an image and control how it blends into or pops out of a background image.
Or add a QR code on top of your image.
{% endblock %}




{% block content22 %}
	
	<div class="logoDiv">
		<img src="../qbluroutline.png" style="width:8rem;">		
	</div>
	<div class="centerLink">
		<button class="basic" onclick="window.location.href='../account';">My Account</button>
	</div>
	<div class="centerLink">
		<button class="basic" onclick="window.location.href='../about';">About</button>
	</div>
	
{% endblock %}






{% block bodyStart %}

{% endblock %}


{% block scripts %}
<script>

</script>
{% endblock %}

