{% extends "templates/base.html" %}

{% block borderRadius %}
	--border-radius: 1rem;
{% endblock %}

{% block content22CSS %}
	/*border: 1px solid black;*/
{% endblock %}
	
{% block centerSize %}
	--height-center: 6rem;
	--width-center: 7rem;
{% endblock %}

{% block titleCSS %}



{% endblock %}


{% block moreCSS %}

body {
	background-image: url("../img/lightbg.png");
	background-size: cover;
	
}
img {
	padding: 0px;
	margin: 0px;
}

.content-31 {
  	position: relative;
  	overflow: hidden;
}
.content-31 .content {
	clear: both;
	height: calc(100% - 2 * var(--border-radius));
}
#formulaDiv {
	clear: both;
	height: calc(100% - 2rem);
}
.content-13 img {
	display: block;
	max-width: calc(100% - 1.5rem);
	max-height: calc((var(--height-container) - var(--height-center)) / 2 - 2 * var(--border-radius) - 1.5rem);
	margin: auto;
	overflow: hidden;
	padding: .5rem;
}
#radio13-2:checked ~ .content-13 img {
	max-height: calc((var(--height-container) - var(--height-center)) / 2 - 2 * var(--border-radius) - 1.5rem + var(--height-center));
}
#radio13-3:checked ~ .content-13 img {
	max-height: calc((var(--height-container) - var(--height-center)) - 2 * var(--border-radius) - 1.5rem + var(--height-center));
}

{% endblock %}


{% block title11 %}
<div class="title">
	<div class="titleBG" style="width:100%;height:100%;">

	</div>
	<span class="titleLeft">
		
	</span>
	<span class="titleCenter">
		Edit
	</span>
	<span class="titleRight">
		<label for="radio11-1"><i class="fas fa-compress-alt"></i></label>
		<label for="radio11-2"><i class="fas fa-expand-alt"></i></label>
		<label for="radio11-3"><i class="fas fa-expand"></i></label>
	</span>
</div>
{% endblock %}
{% block content11 %}
		{% if type == 'overlay' %}
			
			<div>
				Image: 
				<select id="imgType">
					<option value="upload">Upload</option>
					<option value="saved">Saved</option>
					<option value="url">URL</option>
					<option value="drag">Drag/Drop</option>
				</select>
				<input type="file" name="imgSrc" id="imgSrc"></input>
				<input type="text" name="imgUrl" id="imgUrl"></input>
				<input type="text" name="imgSaved" id="imgSaved" value="{{imgSaved}}"></input>
				<span id="imgDrag"></span>
			</div>
			<div>
				<input type="radio" name="overlayType" id="overlayText" {% if imgData and imgData.type != 'text'%}{% else %}checked{% endif %}></input>Text
				<input type="radio" name="overlayType" id="overlayQR" {% if imgData and imgData.type != 'text'%}checked{% else %}{% endif %}></input>QR
			</div>
			<div>
				<span class="qrType">Coded Message: </span><span class="textType">Text: </span><input type="text" id="text" value="{% if imgData %}{{ imgData.text}}{% endif %}"></input>
			</div>
			<div class="textType">
				Font: <input type="text" id="font" value="{% if imgData %}{{ imgData.font }}{% else %}Tahoma{% endif %}"><!--Autocomplete w/ fonts, use CSS sprites with available fonts--></input>
			</div>
			<div id="fontSize">
				Size: 
				<select>
					<option value="font" {% if imgData and imgData.width %}{% else %}selected{% endif %}>Font Size</option>
					<option value="width" {% if imgData and imgData.width %}selected{% endif %}>Width</option>
				</select>= <input type="number" value="{% if imgData and imgData.width %}{{ imgData.width}}{% elif imgData %}{{ imgData.fontSize}}{% else %}40{% endif %}"></input><span></span>
			</div>
			<div id="locX">
				Location X: 
				<select>
					<option value="0" {% if imgData and imgData.locX >= 150 %}{% else %}selected{% endif %}>Middle</option>
					<option value="200" {% if imgData and imgData.locX >= 150 and imgData.locX < 350 %}selected{% else %}{% endif %}>Left</option>
					<option value="400" {% if imgData and imgData.locX >= 350 %}selected{% else %}{% endif %}>Right</option>
				</select>
				 @ 
				 <input type="number" value="{% if imgData and imgData.locX %}{{ ((imgData.locX + 50)% 200)-50}}{% else %}50{% endif %}"></input>%
			</div>
			<div id="locY">
				Location Y: 
				<select>
					<option value="0" {% if imgData and imgData.locY >= 150 %}{% else %}selected{% endif %}>Middle</option>
					<option value="200" {% if imgData and imgData.locY >= 150 and imgData.locY < 350 %}selected{% else %}{% endif %}>Left</option>
					<option value="400" {% if imgData and imgData.locY >= 350 %}selected{% else %}{% endif %}>Right</option>
				</select>
				 @ 
				 <input type="number" value="{% if imgData and imgData.locY %}{{ ((imgData.locY + 50)% 200)-50}}{% else %}50{% endif %}"></input>%
			</div>
			
			<div class="textType">
				Blur Radius: <input type="number" id="blurRadius" value="{% if imgData and imgData.blurRadius %}{{ imgData.blurRadius }}{% else %}10{% endif %}"></input>
			</div>
			<div class="textType">
				Crop Text: <input type="checkbox" id="crop" {% if imgData and imgData.crop %}checked{% else %}{% endif %}></input>
			</div>
			<div class="qrType">
				Type #: <input type="number" id="typeNumber" value="{% if imgData and imgData.typeNumber %}{{ imgData.typeNumber }}{% else %}5{% endif %}"></input>
			</div>
			<div class="qrType">
				Error Correct: <select id="errorCorrect">
				<option value="L" {% if imgData and imgData.errorCorrect == 'L' %}selected{% else %}{% endif %}>Low</option>
				<option value="M" {% if imgData and imgData.errorCorrect != 'M' %}{% else %}selected{% endif %}>Medium</option>
				<option value="Q" {% if imgData and imgData.errorCorrect == 'Q' %}selected{% else %}{% endif %}>Quartile</option>
				<option value="H" {% if imgData and imgData.errorCorrect == 'H' %}selected{% else %}{% endif %}>High</option>
				
				</select>
			</div>
			<div class="qrType">
				Threshold: <input type="number" id="threshold" value="{% if imgData and imgData.threshold %}{{ imgData.threshold }}{% else %}50{% endif %}"></input>%
			</div>
			
			
		{% endif %}
	
		{% if type == 'gradient' %}
			
			<div>
				Image: 
				<select id="imgType">
					<option value="upload">Upload</option>
					<option value="saved">Saved</option>
					<option value="url">URL</option>
					<option value="drag">Drag/Drop</option>
				</select>
				<input type="file" name="imgSrc" id="imgSrc"></input>
				<input type="text" name="imgUrl" id="imgUrl"></input>
				<input type="text" name="imgSaved" id="imgSaved" value="{{imgSaved}}"></input>
				<span id="imgDrag"></span>
			</div>
			<div id="locX" style="display: none;">
				Location X: 
				<select>
					<option value="0">Middle</option>
					<option value="200">Left</option>
					<option value="400">Right</option>
				</select>
				 @ 
				 <input type="number" value="50"></input>%
			</div>
			<div id="locY" style="display: none;">
				Location Y: 
				<select>
					<option value="0">Middle</option>
					<option value="200">Top</option>
					<option value="400">Bottom</option>
				</select>
				 @ 
				 <input type="number" value="50"></input>%
			</div>
			

			<div style="display: none;">
				Threshold: <input type="number" id="threshold" value="128"></input>
			</div>
			<div id="gradientType">
				Gradient: <select>
					<option value="linear" {% if imgData and imgData.gradientType != 'linear' %}{% else %}selected{% endif %}>Linear</option>
					<option value="radial" {% if imgData and imgData.gradientType == 'radial' %}selected{% else %}{% endif %}>Radial</option>
					<option value="edge" {% if imgData and imgData.gradientType == 'edge' %}selected{% else %}{% endif %}>Edge</option>
					<option value="life" {% if imgData and imgData.gradientType == 'life' %}selected{% else %}{% endif %}>Life</option>
					</select>
			</div>
			
			<div id="gradientCenter">
				Center: <select>
					<option value="0" {% if imgData and imgData.gradientCenter != '0' %}{% else %}selected{% endif %}>Centroid</option>
					<option value="1" {% if imgData and imgData.gradientCenter == '1' %}selected{% else %}{% endif %}>Median</option>
					<option value="2" {% if imgData and imgData.gradientCenter == '2' %}selected{% else %}{% endif %}>Bounding Box</option>
					</select>
			</div>
			<div id="gradientDistance">
				Distance: <select>
					<option value="0" {% if imgData and imgData.gradientDistance != '0' %}{% else %}selected{% endif %}>Normal</option>
					<option value="10" {% if imgData and imgData.gradientDistance == '10' %}selected{% else %}{% endif %}>Diamond</option>
					<option value="20" {% if imgData and imgData.gradientDistance == '20' %}selected{% else %}{% endif %}>Square</option>
					</select>
			</div>
			<div id="gradientSkew">
				Skew: <select>
					<option value="0" {% if imgData and imgData.gradientSkew != '0' %}{% else %}selected{% endif %}>None</option>
					<option value="100" {% if imgData and imgData.gradientSkew == '100' %}selected{% else %}{% endif %}>Median</option>
					<option value="200" {% if imgData and imgData.gradientSkew == '200' %}selected{% else %}{% endif %}>Bounding Box</option>
					</select>
			</div>
			<div id="gradientAngle">
				Angle: <input type="number" value="{% if imgData and imgData.gradientAngle %}{{ imgData.gradientAngle }}{% else %}0{% endif %}"></input>
			</div>
			<div id="gradientSpread">
				Spread: <input type="number" value="{% if imgData and imgData.gradientSpread %}{{ imgData.gradientSpread }}{% else %}0{% endif %}"></input>
			</div>
			<div id="lifeOptions">
				<div id="gradientYears">
					Years: <input type="number" value="{% if imgData %}{{ imgData.gradientYears }}{% else %}250{% endif %}"></input>
				</div>
				<div id="gradientDeadMin">
					Dead Min: <input type="number" value="{% if imgData %}{{ imgData.gradientDeadMin }}{% else %}2{% endif %}"></input>
				</div>
				<div id="gradientDeadMax">
					Dead Max: <input type="number" value="{% if imgData %}{{ imgData.gradientDeadMax }}{% else %}2{% endif %}"></input>
				</div>
				<div id="gradientLiveMin">
					Live Min: <input type="number" value="{% if imgData %}{{ imgData.gradientLiveMin }}{% else %}1{% endif %}"></input>
				</div>
				<div id="gradientLiveMax">
					Live Max: <input type="number" value="{% if imgData %}{{ imgData.gradientLiveMax }}{% else %}2{% endif %}"></input>
				</div>
				<div id="gradientBorder">
					Border: <input type="number" value="{% if imgData %}{{ imgData.gradientBorder }}{% else %}50{% endif %}"></input>
				</div>
			</div>
			
		{% endif %}
		{% if type == 'filter' %}
			
			<div>
				Image: 
				<select id="imgType">
					<option value="upload">Upload</option>
					<option value="saved">Saved</option>
					<option value="url">URL</option>
					<option value="drag">Drag/Drop</option>
				</select>
				<input type="file" name="imgSrc" id="imgSrc"></input>
				<input type="text" name="imgUrl" id="imgUrl"></input>
				<input type="text" name="imgSaved" id="imgSaved" value="{{imgSaved}}"></input>
				<span id="imgDrag"></span>
			</div>
			

			<div id="filterList">
			</div>
			<div id="addFilter">
				Add Filter: <select>
					{% for i in range(0,filterGroups.length) %}
					<option value="{{filterGroups[i]}}">{{filterGroups[i]}}</option>
					{% endfor %}
					</select>
					<button>Add</button>
			</div>
			
		{% endif %}
{% endblock %}	

{% block title13 %}
<div class="title">
	<div class="titleBG" style="width:100%;height:100%;">

	</div>
	<span class="titleLeft">
		<button onclick="saveCreation()">Save</button>
	</span>
	<span class="titleCenter">
		Preview
	</span>
	<span class="titleRight">
		<label for="radio13-3"><i class="fas fa-expand"></i></label>
		<label for="radio13-2"><i class="fas fa-expand-alt"></i></label>
		<label for="radio13-1"><i class="fas fa-compress-alt"></i></label>
	
	
	</span>
</div>
{% endblock %}
{% block content13 %}
	<div id="imageHolder">
	
    </div>
{% endblock %}	

{% block title31 %}
<div class="title">
	<div class="titleBG" style="width:100%;height:100%;">

	</div>
	
	<span class="titleLeft">
		{% if type == "overlay" %}
		<select id="bort">
			<option value="blur">Blur</option>
			<option value="text">Fore</option>
		</select>
		{% endif %}
		<button id="saveButton">Save</button>
		<button>Load</button>
		
		
	</span>
	
	<span class="titleCenter">
		Formula
	</span>
	<span class="titleRight">
		<label for="radio31-1"><i class="fas fa-compress-alt"></i></label>
		<label for="radio31-2"><i class="fas fa-expand-alt"></i></label>
		<label for="radio31-3"><i class="fas fa-expand"></i></label>
	</span>
</div>
{% endblock %}
{% block content31 %}
	<div>
		
		Load:
		<select id="hslrgb">
		
			
			{% if type == "filter" %}
			{% else %}
				{% for formula in formulas %}
				<option value="{{ formula.id }}">{{ formula.name }}</option>
				{% endfor %}
			{% endif %}
			<option value="hsl">Custom HSL</option>
			<option value="rgb">Custom RGB</option>
		</select>
	</div>
	<div id="formulaDiv">
		<div id="blurFormulaHSL" style="width: 500px;"></div>
		<div id="blurFormulaRGB" style="width: 500px;"></div>
		<div id="textFormulaHSL" style="width: 500px;"></div>
		<div id="textFormulaRGB" style="width: 500px;"></div>
		<div id="blurFormula" style="display: none;">
			<textarea rows="4" cols="50"></textarea>
		</div>
		<div id="textFormula" style="display: none;">
			<textarea rows="4" cols="50"></textarea>
		</div>
	</div>
{% endblock %}

{% block title33 %}
<div class="title">
	<div class="titleBG" style="width:100%;height:100%;">

	</div>
	<span class="titleLeft">
		<select id="langOption">
			<option value="python">Python</option>
			<option value="javascript">Javascript</option>
			<option value="lua">Lua</option>
			<option value="php">PHP</option>
			<option value="dart">Dart</option>
		</select>
	</span>
	<span class="titleCenter">
			Code
	</span>
	<span class="titleRight">
		<label for="radio33-1"><i class="fas fa-compress-alt"></i></label>
		<label for="radio33-2"><i class="fas fa-expand-alt"></i></label>
		<label for="radio33-3"><i class="fas fa-expand"></i></label>
	</span>
</div>
{% endblock %}
{% block content33 %}
	<pre id="myCode" class="language-python"><code class="language-python"></code></pre>
{% endblock %}




{% block content22 %}
	
	<div class="logoDiv">
		<img src="../logo.png" style="width:7rem;">		
	</div>
	<div class="centerLink">
		<button class="basic" onclick="window.location.href='../account';">My Account</button>
	</div>
	<div class="centerLink">
		<button class="basic" onclick="window.location.href='../about';">Help</button>
	</div>
	
{% endblock %}






{% block bodyStart %}

{% endblock %}


{% block scripts %}
<xml id="toolbox" style="display: none">
  <category name="Control">
	<block type="controls_if"></block>
	<block type="controls_whileUntil"></block>
	<block type="controls_for">
  </category>
  <category name="Logic">
	<block type="logic_compare"></block>
	<block type="logic_operation"></block>
	<block type="logic_boolean"></block>
  </category>
  <category name="Math">
	<block type="math_number"></block>
	<block type="math_arithmetic"></block>
  </category>
  <category name="Variables" custom="VARIABLE"></category>
  <category name="Functions" custom="PROCEDURE"></category>

</xml>
<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
<script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
<script src="../js/prism.js"></script>
<script src="../js/blockly_compressed.js"></script>
<script src="../js/blocks_compressed.js"></script>
<script src="../js/blocklyen.js"></script>
<script src="../js/lua_compressed.js"></script>
<script src="../js/python_compressed.js"></script>
<script src="../js/php_compressed.js"></script>
<script src="../js/javascript_compressed.js"></script>
<script src="../js/dart_compressed.js"></script>
<script>
var type = {{ type | dump | safe }};
var tkey = {{ tkey | dump | safe }};
var formulas = {{ formulas | dump | safe }};
var defaults = [];

defaults.push('<xml xmlns="https://developers.google.com/blockly/xml"><variables><variable id="qblur_r">r</variable></variables><block type="controls_if" id="Il^^YLd2NrFN:|;KKrjz" x="53" y="8"><value name="IF0"><block type="logic_compare" id="ziTZ^NbMl,qw@.Jp?R,B"><field name="OP">LT</field><value name="A"><block type="variables_get" id="]$l^IlghlBfr{3nXw`e{"><field name="VAR" id="qblur_r">r</field></block></value><value name="B"><block type="math_number" id="h2X9B|l.elRcnP+Je:;u"><field name="NUM">200</field></block></value></block></value><statement name="DO0"><block type="variables_set" id="D;pLu7Mt]Bf4$r!guo;-"><field name="VAR" id="qblur_r">r</field><value name="VALUE"><block type="math_number" id="i~V0T-jtCz[Wz(P4:BIV"><field name="NUM">200</field></block></value></block></statement></block></xml>');
{% if type== 'overlay' %}
defaults.push('<xml xmlns="https://developers.google.com/blockly/xml"><variables><variable id="qblur_r">r</variable></variables><block type="controls_if" id="Il^^YLd2NrFN:|;KKrjz" x="53" y="8"><value name="IF0"><block type="logic_compare" id="ziTZ^NbMl,qw@.Jp?R,B"><field name="OP">LT</field><value name="A"><block type="variables_get" id="]$l^IlghlBfr{3nXw`e{"><field name="VAR" id="qblur_r">r</field></block></value><value name="B"><block type="math_number" id="h2X9B|l.elRcnP+Je:;u"><field name="NUM">200</field></block></value></block></value><statement name="DO0"><block type="variables_set" id="D;pLu7Mt]Bf4$r!guo;-"><field name="VAR" id="qblur_r">r</field><value name="VALUE"><block type="math_number" id="i~V0T-jtCz[Wz(P4:BIV"><field name="NUM">200</field></block></value></block></statement></block></xml>');
defaults.push('<xml xmlns="https://developers.google.com/blockly/xml"><variables><variable id="qblur_l">l</variable></variables><block type="controls_if" id="Wd;mk5}4Of9%Iw%Z7Zp@" x="35" y="18"><value name="IF0"><block type="logic_compare" id="Y]b.Mo8c|Gg]GFgx]d}."><field name="OP">LT</field><value name="A"><block type="variables_get" id="z@^1uBjFU^[PEMP$1M{*"><field name="VAR" id="qblur_l">l</field></block></value><value name="B"><block type="math_number" id="q#8h__fG*5qOgK`l1]dN"><field name="NUM">0.6</field></block></value></block></value><statement name="DO0"><block type="variables_set" id="!{OE7jG|eOuI%-Gmeh$z"><field name="VAR" id="qblur_l">l</field><value name="VALUE"><block type="math_number" id="eSak{(`N-^$A8:Y!TfoB"><field name="NUM">0.6</field></block></value></block></statement></block></xml>');
defaults.push('<xml xmlns="https://developers.google.com/blockly/xml"><variables><variable id="qblur_l">l</variable></variables><block type="controls_if" id="Wd;mk5}4Of9%Iw%Z7Zp@" x="35" y="18"><value name="IF0"><block type="logic_compare" id="Y]b.Mo8c|Gg]GFgx]d}."><field name="OP">LT</field><value name="A"><block type="variables_get" id="z@^1uBjFU^[PEMP$1M{*"><field name="VAR" id="qblur_l">l</field></block></value><value name="B"><block type="math_number" id="q#8h__fG*5qOgK`l1]dN"><field name="NUM">0.6</field></block></value></block></value><statement name="DO0"><block type="variables_set" id="!{OE7jG|eOuI%-Gmeh$z"><field name="VAR" id="qblur_l">l</field><value name="VALUE"><block type="math_number" id="eSak{(`N-^$A8:Y!TfoB"><field name="NUM">0.6</field></block></value></block></statement></block></xml>');
	{% if imgData and imgData.blurType == 'hsl' %}
		defaults[2] = '{{ imgData.blurFormula | safe}}';
	{% elif imgData and imgData.blurType == 'rgb' %}
		defaults[0] = '{{ imgData.blurFormula | safe}}';
	{% endif %}
	{% if imgData and imgData.textType == 'hsl' %}
		defaults[3] = '{{ imgData.textFormula | safe}}';
	{% elif imgData and imgData.textType == 'rgb' %}
		defaults[1] = '{{ imgData.textFormula | safe}}';
	{% endif %}
{% else %}
defaults.push('<xml xmlns="https://developers.google.com/blockly/xml"><variables><variable id="qblur_l">l</variable></variables><block type="controls_if" id="Wd;mk5}4Of9%Iw%Z7Zp@" x="35" y="18"><value name="IF0"><block type="logic_compare" id="Y]b.Mo8c|Gg]GFgx]d}."><field name="OP">LT</field><value name="A"><block type="variables_get" id="z@^1uBjFU^[PEMP$1M{*"><field name="VAR" id="qblur_l">l</field></block></value><value name="B"><block type="math_number" id="q#8h__fG*5qOgK`l1]dN"><field name="NUM">0.6</field></block></value></block></value><statement name="DO0"><block type="variables_set" id="!{OE7jG|eOuI%-Gmeh$z"><field name="VAR" id="qblur_l">l</field><value name="VALUE"><block type="math_number" id="eSak{(`N-^$A8:Y!TfoB"><field name="NUM">0.6</field></block></value></block></statement></block></xml>');
	{% if imgData and imgData.blurType == 'hsl' %}
		defaults[1] = '{{ imgData.blurFormula | safe}}';
	{% elif imgData and imgData.blurType == 'rgb' %}
		defaults[0] = '{{ imgData.blurFormula | safe}}';
	{% endif %}
{% endif %}




var loadSaved = false;
var ws = new WebSocket('wss://qblur.com:8080');
ws.onopen = function(evt) {
	var jsonmessage = {'type':'key'};
	jsonmessage.message = tkey;
	ws.send(JSON.stringify(jsonmessage));
	if (savedImgUrl){
		savedImgUrl();
	}
	else {
		loadSaved = true;
	}
}
ws.onmessage = function(evt){
	var dm = JSON.parse(evt.data);
	var el = document.getElementById('imageHolder');
	var img = document.createElement('img');
	img.setAttribute('src',dm.src);
	el.innerHTML = '';
	el.appendChild(img);
}
</script>


<script src="../js/creator.js"></script>
{% if type == "gradient" %}
<script src="../js/gradientCreator.js"></script>
{% elif type == "filter" %}
<script>
	var filters = {{ filters | dump | safe }};
	var loadedFilters = [];
	{% if imgData %}
		loadedFilters = {{ imgData.filters | dump | safe }};
	{% endif %}
</script>
<script src="../js/dragula.js"></script>
<script src="../js/filterCreator.js"></script>
{% else %}
<script src="../js/blendtext.js"></script>
{% endif %}
<script src="../js/upload.js"></script>

<script>
  const button = document.getElementById('saveButton');
  const tooltip = document.getElementById('saveTooltip');

  // Pass the button, the tooltip, and some options, and Popper will do the
  // magic positioning for you:
  tippy('#saveButton', {
	  content: `<div id="saveTooltip">
			Name: <input type="text" name="formulaName" id="formulaName"></input>
			<button onclick="saveFormula('{{ type }}')">Save</button>
		</div>`,
	  allowHTML: true,
	  trigger: 'click',
	  interactive: true,
	});
</script>
{% endblock %}

