{% extends "templates/base.html" %}

{% block borderRadius %}
	--border-radius: 1.25rem;
{% endblock %}

{% block content22CSS %}
	/*border: 1px solid black;*/
{% endblock %}
	
{% block centerSize %}
	--height-center: 8rem;
	--width-center: 9rem;
{% endblock %}

{% block titleCSS %}



{% endblock %}


{% block moreCSS %}

body {
	background-image: url("../img/lightbg.png");
	background-size: cover;
	
}
img {
	padding: 0px;
	margin: 0px;
}

.content-31 {
	grid-row:  3;
	grid-column:  1;
  	border: 2px solid black;
  	border-radius: 1.5rem;
  	position: relative;
  	overflow: hidden;
}
.content-31 .content {
	clear: both;
	height: calc(100% - 3rem);
}
#formulaDiv {
	clear: both;
	height: calc(100% - 5rem);
}
.content-13 img {
	display: block;
	max-width: 90%;
	max-height: 90%;
	margin: auto;
	overflow: hidden;
	padding: 5px;
}
{% endblock %}


{% block title11 %}
<div class="title">
	<div class="titleBG" style="width:100%;height:100%;">

	</div>
	<span class="titleLeft">
		
	</span>
	<span class="titleCenter">
		<a href="../qblur">Edit</a>
	</span>
	<span class="titleRight">
		<label for="radio11-1"><i class="fas fa-compress-alt"></i></label>
		<label for="radio11-2"><i class="fas fa-expand-alt"></i></label>
		<label for="radio11-3"><i class="fas fa-expand"></i></label>
	</span>
</div>
{% endblock %}
{% block content11 %}
	{% if type == 'qr' %}
			
			<div>
				Image: 
				<select id="imgType">
					<option value="upload">Upload</option>
					<option value="url">URL</option>
					<option value="drag">Drag/Drop</option>
				</select>
				<input type="file" name="imgSrc" id="imgSrc"></input>
				<input type="text" name="imgUrl" id="imgUrl"></input>
				<span id="imgDrag"></span>
			</div>
			<div>
				Message: <input type="text" id="text" value=""></input>
			</div>
			<div>
				Type #: <input type="number" id="typeNumber" value="5"></input>
			</div>
			<div>
				Error Correct: <select id="errorCorrect">
				<option value="L">Low</option>
				<option value="M" selected>Medium</option>
				<option value="H">High</option>
				
				</select>
			</div>
			<div style="display: none;">
				Font: <input type="text" id="font" value="Tahoma"><!--Autocomplete w/ fonts, use CSS sprites with available fonts--></input>
			</div>
			<div id="fontSize">
				Width: 
				<select style="display: none;">
					<option value="font" style="display: none;">Font Size</option>
					<option value="width" selected="selected">Width</option>
				</select>
				<input type="number" value="40"></input><span></span>
			</div>
			<div id="locX">
				Location X: 
				<select style="display: none;">
					<option value="0">Middle</option>
					<option value="200">Left</option>
					<option value="400">Right</option>
				</select>
				 
				 <input type="number" value="50"></input>%
			</div>
			<div id="locY">
				Location Y: 
				<select style="display: none;">
					<option value="0">Middle</option>
					<option value="200">Top</option>
					<option value="400">Bottom</option>
				</select>
				 
				 <input type="number" value="50"></input>%
			</div>
			
			<div style="display: none;">
				Blur Radius: <input type="number" id="blurRadius" value="10"></input>
			</div>
			<div>
				Threshold: <input type="number" id="threshold" value="128"></input>
			</div>

			
		{% endif %}
		{% if type == 'text' or type == 'image' %}
			
			<div>
				Image: 
				<select id="imgType">
					<option value="upload">Upload</option>
					<option value="url">URL</option>
					<option value="drag">Drag/Drop</option>
				</select>
				<input type="file" name="imgSrc" id="imgSrc"></input>
				<input type="text" name="imgUrl" id="imgUrl"></input>
				<span id="imgDrag"></span>
			</div>
			<div>
				Text: <input type="text" id="text" value=""></input>
			</div>
			<div>
				Font: <input type="text" id="font" value="Tahoma"><!--Autocomplete w/ fonts, use CSS sprites with available fonts--></input>
			</div>
			<div id="fontSize">
				Size: 
				<select>
					<option value="font">Font Size</option>
					<option value="width">Width</option>
				</select>= <input type="number" value="40"></input><span></span>
			</div>
			<div id="locX">
				Location X: 
				<select>
					<option value="0">Middle</option>
					<option value="200">Left</option>
					<option value="400">Right</option>
				</select>
				 @ 
				 <input type="number" value="50"></input>%
			</div>
			<div id="locY">
				Location Y: 
				<select>
					<option value="0">Middle</option>
					<option value="200">Top</option>
					<option value="400">Bottom</option>
				</select>
				 @ 
				 <input type="number" value="50"></input>%
			</div>
			
			<div>
				Blur Radius: <input type="number" id="blurRadius" value="10"></input>
			</div>
			<div style="display: none;">
				Threshold: <input type="number" id="threshold" value="128"></input>
			</div>
			
			
		{% endif %}
		{% if type == 'gradient' %}
			
			<div>
				Image: 
				<select id="imgType">
					<option value="upload">Upload</option>
					<option value="url">URL</option>
					<option value="drag">Drag/Drop</option>
				</select>
				<input type="file" name="imgSrc" id="imgSrc"></input>
				<input type="text" name="imgUrl" id="imgUrl"></input>
				<span id="imgDrag"></span>
			</div>
			<div id="locX" style="display: none;">
				Location X: 
				<select>
					<option value="0">Middle</option>
					<option value="200">Left</option>
					<option value="400">Right</option>
				</select>
				 @ 
				 <input type="number" value="50"></input>%
			</div>
			<div id="locY" style="display: none;">
				Location Y: 
				<select>
					<option value="0">Middle</option>
					<option value="200">Top</option>
					<option value="400">Bottom</option>
				</select>
				 @ 
				 <input type="number" value="50"></input>%
			</div>
			

			<div style="display: none;">
				Threshold: <input type="number" id="threshold" value="128"></input>
			</div>
			<div id="gradientType">
				Gradient: <select>
					<option value="linear">Linear</option>
					<option value="radial">Radial</option>
					<option value="edge">Edge</option>
					<option value="life">Life</option>
					</select>
			</div>
			
			<div id="gradientCenter">
				Center: <select>
					<option value="0">Centroid</option>
					<option value="1">Median</option>
					<option value="2">Bounding Box</option>
					</select>
			</div>
			<div id="gradientDistance">
				Distance: <select>
					<option value="0">Normal</option>
					<option value="10">Diamond</option>
					<option value="20">Square</option>
					</select>
			</div>
			<div id="gradientSkew">
				Skew: <select>
					<option value="0">None</option>
					<option value="100">Median</option>
					<option value="200">Bounding Box</option>
					</select>
			</div>
			<div id="gradientAngle">
				Angle: <input type="number" value="0"></input>
			</div>
			<div id="gradientSpread">
				Spread: <input type="number" value="0"></input>
			</div>
			<div id="lifeOptions">
				<div id="gradientYears">
					Years: <input type="number" value="250"></input>
				</div>
				<div id="gradientDeadMin">
					Dead Min: <input type="number" value="2"></input>
				</div>
				<div id="gradientDeadMax">
					Dead Max: <input type="number" value="2"></input>
				</div>
				<div id="gradientLiveMin">
					Live Min: <input type="number" value="1"></input>
				</div>
				<div id="gradientLiveMax">
					Live Max: <input type="number" value="2"></input>
				</div>
			</div>
			
		{% endif %}
{% endblock %}	

{% block title13 %}
<div class="title">
	<div class="titleBG" style="width:100%;height:100%;">

	</div>
	<span class="titleLeft">
	
	</span>
	<span class="titleCenter">
		<a href="../qr">Preview</a>
	</span>
	<span class="titleRight">
		<label for="radio13-3"><i class="fas fa-expand"></i></label>
		<label for="radio13-2"><i class="fas fa-expand-alt"></i></label>
		<label for="radio13-1"><i class="fas fa-compress-alt"></i></label>
	
	
	</span>
</div>
{% endblock %}
{% block content13 %}
	<div id="imageHolder">
    </div>
{% endblock %}	

{% block title31 %}
<div class="title">
	<div class="titleBG" style="width:100%;height:100%;">

	</div>
	{% if type != "gradient" %}
	<span class="titleLeft">
		<select id="bort">
			<option value="blur">Blur</option>
			<option value="text">Fore</option>
		</select>
		
	</span>
	{% endif %}
	<span class="titleCenter">
		Formula
	</span>
	<span class="titleRight">
		<label for="radio31-1"><i class="fas fa-compress-alt"></i></label>
		<label for="radio31-2"><i class="fas fa-expand-alt"></i></label>
		<label for="radio31-3"><i class="fas fa-expand"></i></label>
	</span>
</div>
{% endblock %}
{% block content31 %}
	<div>
		<button onclick="saveFormula('{{ type }}')">Save</button>
		Load:
		<select id="hslrgb">
		
			<option value="hsl" selected="selected">Custom HSL</option>
			<option value="rgb">Custom RGB</option>
			{% for formula in formulas %}
			<option value="{{ formula.id }}">{{ formula.name }}</option>
			{% endfor %}
		</select>
	</div>
	<div id="formulaDiv">
		<div id="blurFormulaHSL" style="width: 500px;"></div>
		<div id="blurFormulaRGB" style="width: 500px;"></div>
		<div id="textFormulaHSL" style="width: 500px;"></div>
		<div id="textFormulaRGB" style="width: 500px;"></div>
		<div id="blurFormula" style="display: none;">
			<textarea rows="4" cols="50"></textarea>
		</div>
		<div id="textFormula" style="display: none;">
			<textarea rows="4" cols="50"></textarea>
		</div>
	</div>
{% endblock %}

{% block title33 %}
<div class="title">
	<div class="titleBG" style="width:100%;height:100%;">

	</div>
	<span class="titleLeft">
		<select id="langOption">
			<option value="python">Python</option>
			<option value="javascript">Javascript</option>
			<option value="lua">Lua</option>
			<option value="php">PHP</option>
			<option value="dart">Dart</option>
		</select>
	</span>
	<span class="titleCenter">
			Code
	</span>
	<span class="titleRight">
		<label for="radio33-1"><i class="fas fa-compress-alt"></i></label>
		<label for="radio33-2"><i class="fas fa-expand-alt"></i></label>
		<label for="radio33-3"><i class="fas fa-expand"></i></label>
	</span>
</div>
{% endblock %}
{% block content33 %}
	<pre id="myCode" class="language-python"><code class="language-python"></code></pre>
{% endblock %}




{% block content22 %}
	
	<div class="logoDiv">
		<img src="../logo.png" style="width:9rem;">		
	</div>
	<div class="centerLink">
		<button class="basic" onclick="window.location.href='../account';">My Account</button>
	</div>
	<div class="centerLink">
		<button class="basic" onclick="window.location.href='../about';">Help</button>
	</div>
	
{% endblock %}






{% block bodyStart %}

{% endblock %}


{% block scripts %}
<xml id="toolbox" style="display: none">
  <category name="Control">
	<block type="controls_if"></block>
	<block type="controls_whileUntil"></block>
	<block type="controls_for">
  </category>
  <category name="Logic">
	<block type="logic_compare"></block>
	<block type="logic_operation"></block>
	<block type="logic_boolean"></block>
  </category>
  <category name="Math">
	<block type="math_number"></block>
	<block type="math_arithmetic"></block>
  </category>
  <category name="Variables" custom="VARIABLE"></category>
  <category name="Functions" custom="PROCEDURE"></category>

</xml>
<script src="../js/prism.js"></script>
<script src="../js/blockly_compressed.js"></script>
<script src="../js/blocks_compressed.js"></script>
<script src="../js/blocklyen.js"></script>
<script src="../js/lua_compressed.js"></script>
<script src="../js/python_compressed.js"></script>
<script src="../js/php_compressed.js"></script>
<script src="../js/javascript_compressed.js"></script>
<script src="../js/dart_compressed.js"></script>
<script>var type = {{ type | dump | safe }}</script>
<script>var tkey = {{ tkey | dump | safe }}</script>
<script>var formulas = {{ formulas | dump | safe }};</script>
<script src="../js/creator.js"></script>
{% if type == "gradient" %}
<script src="../js/gradientCreator.js"></script>
{% else %}
<script src="../js/blendtext.js"></script>
{% endif %}
<script src="../js/upload.js"></script>
{% endblock %}

