	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/06/2016 15:21
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-circular-arrow:before { content: "\f100"; }
.flaticon-circular-arrows:before { content: "\f101"; }
.flaticon-circular-arrows-1:before { content: "\f102"; }
.flaticon-cross-arrows:before { content: "\f103"; }
.flaticon-cross-arrows-1:before { content: "\f104"; }
.flaticon-cross-arrows-2:before { content: "\f105"; }
.flaticon-curve-arrow:before { content: "\f106"; }
.flaticon-double-arrow:before { content: "\f107"; }
.flaticon-double-arrow-1:before { content: "\f108"; }
.flaticon-double-arrow-2:before { content: "\f109"; }
.flaticon-double-arrows:before { content: "\f10a"; }
.flaticon-four-arrows:before { content: "\f10b"; }
.flaticon-four-arrows-1:before { content: "\f10c"; }
.flaticon-refresh-arrows:before { content: "\f10d"; }
.flaticon-right-arrow:before { content: "\f10e"; }
.flaticon-right-arrow-1:before { content: "\f10f"; }
.flaticon-right-arrow-10:before { content: "\f110"; }
.flaticon-right-arrow-11:before { content: "\f111"; }
.flaticon-right-arrow-12:before { content: "\f112"; }
.flaticon-right-arrow-13:before { content: "\f113"; }
.flaticon-right-arrow-14:before { content: "\f114"; }
.flaticon-right-arrow-15:before { content: "\f115"; }
.flaticon-right-arrow-16:before { content: "\f116"; }
.flaticon-right-arrow-17:before { content: "\f117"; }
.flaticon-right-arrow-18:before { content: "\f118"; }
.flaticon-right-arrow-19:before { content: "\f119"; }
.flaticon-right-arrow-2:before { content: "\f11a"; }
.flaticon-right-arrow-20:before { content: "\f11b"; }
.flaticon-right-arrow-21:before { content: "\f11c"; }
.flaticon-right-arrow-22:before { content: "\f11d"; }
.flaticon-right-arrow-23:before { content: "\f11e"; }
.flaticon-right-arrow-3:before { content: "\f11f"; }
.flaticon-right-arrow-4:before { content: "\f120"; }
.flaticon-right-arrow-5:before { content: "\f121"; }
.flaticon-right-arrow-6:before { content: "\f122"; }
.flaticon-right-arrow-7:before { content: "\f123"; }
.flaticon-right-arrow-8:before { content: "\f124"; }
.flaticon-right-arrow-9:before { content: "\f125"; }
.flaticon-right-arrows:before { content: "\f126"; }
.flaticon-square-arrow:before { content: "\f127"; }
.flaticon-square-arrow-1:before { content: "\f128"; }
.flaticon-square-arrow-2:before { content: "\f129"; }
.flaticon-square-arrows:before { content: "\f12a"; }
.flaticon-square-arrows-1:before { content: "\f12b"; }
.flaticon-square-arrows-2:before { content: "\f12c"; }
.flaticon-triangle-arrow:before { content: "\f12d"; }
.flaticon-triple-arrow:before { content: "\f12e"; }
.flaticon-two-arrows:before { content: "\f12f"; }
.flaticon-u-turn:before { content: "\f130"; }
.flaticon-up-arrow:before { content: "\f131"; }